$purple: #5755d9;
$primary: $purple;

$custom-border-radius: 15px;

$input-btn-padding-y: 0.75rem;
$input-btn-padding-x: 1.25rem;
$input-btn-padding-y-lg: $input-btn-padding-y;
$input-btn-padding-x-lg: $input-btn-padding-x;
$input-btn-padding-y-sm: 0.5rem;
$input-btn-padding-x-sm: 1rem;

$btn-border-radius: $custom-border-radius;
$btn-border-radius-lg: $custom-border-radius;
$btn-border-radius-sm: $custom-border-radius;

$lead-font-weight: normal;